@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A WebScore Tecnologias de Softwares Ltda é uma empresa dedicada a implementar soluções
   que simplificam e aumentam a produtividade e resultados da empresa.

   Nosso objetivo é trazer para as pequenas e médias empresas as mesmas ferramentas das
   grandes empresas a um baixo custo com simplicidade e segurança.</p>
